.shopmain {
    height: 100%;

    &::after {
        content: " ";
        clear: both;
        height: 0;
        overflow: hidden;
        visibility: hidden;
        display: block;
    }

    .el-form {
        width: 80%;
        padding: 0px 20% 5% 10%;
    }

    .ant-table-wrapper {
        width: 70%;
    }

    .ant-btn-primary {
        float: right;
    }

    .ant-table-wrapper {
        margin-top: 40px;
        float: right;
    }

}